body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 215, 222)
}

.card {
  background-color: white;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.qr-code {
  width: 100%;
}

.card,
.qr-code {
  border-radius: 10px;
}

.card-description {
  font-size: 20px;
  font-weight: 700;
}

.card-instruction {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}